/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Rubik, sans-serif;
    line-height: 1.5;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    border: none;
    background-color: lightsalmon;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

/* Set global icon size */
img[src*="icons"] {
    width: 24px;
    height: 24px;
}

img[src*="avatar"] {
    width: 50px;
    height: 50px;
}

/* SIDEBAR */
#sidebar {
    background-color: #363740;
    grid-column: 1;
    color: #fff;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-box h1 {
    font-size: 1.8rem;
    font-weight: 500;
}

.nav {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.nav li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.7rem 0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.nav li:hover {
    background-color: #3e4049;
    border-radius: 0.5rem;
    padding-left: 0.7rem;
}

.nav p {
    font-weight: 500;
}

/* MAIN */
#main {
    background-color: lightcoral;
    grid-column: 2 / 3;
}

/* MAIN -> HEADER*/
#header {
    background-color: lightblue;
    padding: 1.5rem;
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 3fr 1fr;
}

.profile {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-self: end;
}

.greeting {
    display: flex;
    gap: 1rem;
}

.main-btns {
    align-self: center;
    justify-self: end;
}

/* MAIN -> CONTENT*/

