/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Rubik, sans-serif;
    line-height: 1.5;
    display: grid;
    height: 100vh;
    grid-template-columns: 20% 80%;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    border: none;
    background-color: #363740;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font: inherit;
    color: #fff;
}

/* Set global icon size */
img[src*="icons"] {
    width: 24px;
    height: 24px;
}

img[src*="avatar"] {
    width: 50px;
    height: 50px;
}

/* SIDEBAR */
#sidebar {
    background-color: #363740;
    grid-column: 1;
    color: #fff;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 20%;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-box h1 {
    font-size: 1.8rem;
    font-weight: 500;
}

.nav {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.nav li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.7rem 0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.nav li:hover {
    background-color: #3e4049;
    border-radius: 0.5rem;
    padding-left: 0.7rem;
}

.nav p {
    font-weight: 500;
}

/* MAIN */
#main {
    /* background-color: lightcoral; */
    background-color: #F7F8FC;
    grid-column: 2 / 3;
}

/* MAIN -> HEADER*/
#header {
    /* background-color: lightblue; */
    padding: 1rem 2rem;
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 3fr auto;
    border-bottom: 2px solid black;
}

.search-field {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-field input {
    width: 300px;
    padding: 0.3rem;
}

.profile {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-self: end;
}

.greeting {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.greeting img[src*="avatar"] {
    width: 72px;
    height: 72px;
}

.main-btns {
    align-self: center;
    justify-self: end;
}

.main-btns button {
    margin-left: 1rem;
}

/* MAIN -> CONTENT*/
#content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 2rem;
    column-gap: 2rem;
}

.content-title {
    margin-bottom: 0.5rem;
}

/* MAIN -> CONTENT -> PROJECTS*/
.projects-card-container {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem
}

.project-card {
    padding: 1rem;
    border-radius: 0.5rem;
}

.project-text {
    margin-bottom: 1rem;
}

.project-icons {
    text-align: right;
}

.project-icons img {
    margin-left: 0.5rem;
}

.project-name {
    font-weight: 700;
}

.project-desc {
    font-weight: 400;
}

.project-card {
    border: 2px solid #363740;
}

/* MAIN -> CONTENT -> ANNOUNCEMENTS*/
.announcements {
    grid-column: 2;
    margin-bottom: 1rem;
}

.announcements-card-container {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #babccf;
}

.announcement:nth-child(1)::after,
.announcement:nth-child(2)::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.05rem;
    background-color: gray;
    margin: 0.5rem 0;
}

.announcement-desc,
.announcement-name {
    font-size: 0.9rem;
}

.announcement-name {
    font-weight: 700;
}

/* MAIN -> CONTENT -> TRENDING*/
.trending-card-container {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #babccf;
}

.trending {
    grid-column: 2;
}

.trending-card {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.trending-tag,
.trending-copy {
    font-size: 0.9rem;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1080px) {
    .projects-card-container {
        grid-template-columns: 1fr;
    }
  }